# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
minimal_mistakes_skin    : "academic" # custom warm skin

# Site Settings
locale                   : "en-US"
title                    : "Achal Mahajan"
title_separator          : "-"
subtitle                 :
name                     : "Achal Mahajan"
description              : "Personal Webpage"
url                      : "https://achalmahajan1.github.io"
baseurl                  : ""
repository               : "achalmahajan1/achalmahajan1.github.io"
teaser                   :
logo                     :
masthead_title           : " "
words_per_minute         : 200

atom_feed:
  path                   :

search                   : true
search_full_content      : false
search_provider          : lunr

# SEO Related
google_site_verification :
bing_site_verification   :

# Analytics
analytics:
  provider               : false

# Site Author
author:
  name             : "Achal Mahajan"
  avatar           : "/assets/images/Achal.jpg"
  bio              : "Scientist in Computational Biophysics and Machine Learning."
  location         : "Altos Labs, Inc."
  email            : "achalmahajan7@gmail.com"
  googlescholar    : "https://scholar.google.se/citations?user=eD2hwhcAAAAJ&hl=en"
  links:
    - label: "Google Scholar"
      icon: "ai ai-fw ai-google-scholar ai-lg"
      url: "https://scholar.google.com/citations?user=HD8PNBoAAAAJ&hl=en&oi=ao"
    - label: "GitHub"
      icon: "fab fa-fw fa-github fa-lg"
      url: "https://github.com/achalmahajan1"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin fa-lg"
      url: "https://www.linkedin.com/in/achal-mahajan-12864937/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square fa-lg"
      url: "https://twitter.com/MAHAJANACHAL"

# Site Footer
footer:
  links:
    - label: "Google Scholar"
      icon: "ai ai-fw ai-google-scholar ai-lg"
      url: "https://scholar.google.com/citations?user=HD8PNBoAAAAJ&hl=en&oi=ao"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/MAHAJANACHAL"
    - label: "GitHub"
      icon: "fab fa-fw fa-github fa-lg"
      url: "https://github.com/achalmahajan1"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed


# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: America/Los_Angeles


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache


# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections
collections:
  teaching:
    output: false
    permalink: /:collection/:path/
  talks:
    output: false
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: false
      related: false
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      read_time: false
      share: false
      related: false
